<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Desktop.Hels.Settings.FormsColor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Desktop.Hels.Settings.AppsAboutSetings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Desktop.Hels.Settings.ObjectoUserSetings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Desktop.Hels.Settings.ObjectoLogin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Yale</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Desktop.Hels.Settings.FormsColor>
      <setting name="ForeColorAll" serializeAs="String">
        <value>255, 224, 192</value>
      </setting>
      <setting name="PainelFundo" serializeAs="String">
        <value />
      </setting>
      <setting name="PainelTopBooton" serializeAs="String">
        <value>Silver</value>
      </setting>
    </Desktop.Hels.Settings.FormsColor>
    <Desktop.Hels.Settings.AppsAboutSetings>
      <setting name="AssemblyCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="AssemblyCopyright" serializeAs="String">
        <value />
      </setting>
      <setting name="AssemblyDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="AssemblyProduct" serializeAs="String">
        <value />
      </setting>
      <setting name="AssemblyVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="AssemblyFileVersion" serializeAs="String">
        <value />
      </setting>
    </Desktop.Hels.Settings.AppsAboutSetings>
    <Desktop.Hels.Settings.ObjectoUserSetings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Yale</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="Conection" serializeAs="String">
        <value>SQLSERVER</value>
      </setting>
    </Desktop.Hels.Settings.ObjectoUserSetings>
    <Desktop.Hels.Settings.ObjectoLogin>
      <setting name="Estado" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nome" serializeAs="String">
        <value />
      </setting>
      <setting name="Senha" serializeAs="String">
        <value />
      </setting>
    </Desktop.Hels.Settings.ObjectoLogin>
  </userSettings>
</configuration>